[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community Edition
Icon={{ linux_intellij_files.files[0].path }}/bin/idea.png
Exec="{{ linux_intellij_files.files[0].path }}/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce
